footer {
    background-color: var(--color-menu-background);
    display: flex;
}

#footerMenu {
    width: 100%;
    height: 25px;
    display: flex;
}

#footerMenu .menu-item {
    padding: 5px 5px 5px 5px;
    height: 11px;
}

#footerMenu .icon-item {
    padding: 2px;
    height: 16px;
}

#toolInfoItem {
    display: flex;
    flex: auto;
    font-size: calc(min(8.25pt, 1vw));
}

#canvasSizeItem {
    width: 80px;
}

#cursorPositionItem {
    width: 80px;
}

#window-resize {
    width: 11px;
    height: 11px;
    margin-left: 4px;
    margin-top: 11px;
    margin-right: 2px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMSAxMSIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBkPSJNOSAxaDJ2Mkg5VjF6TTUgNWgydjJINVY1em00IDBoMnYySDlWNXpNMSA5aDJ2MkgxVjl6bTQgMGgydjJINVY5em00IDBoMnYySDlWOXoiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNOCAwaDJ2Mkg4VjB6TTQgNGgydjJINFY0em00IDBoMnYySDhWNHpNMCA4aDJ2MkgwVjh6bTQgMGgydjJINFY4em00IDBoMnYySDhWOHoiIGZpbGw9IiNhMGEwYTAiLz48L3N2Zz4=');
}