html {
    background-color: var(--color-background);
    user-select: none;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#content {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ------------ Editor ------------ */

header {
    height: 82px;
    background-color: var(--color-menu-background);
    border: 0 solid var(--color-title-bar-border);
    border-bottom-width: 1px;
}

#editor {
    flex: 1;
    overflow: hidden;
    position: relative;
}

#view {
    flex: 1;
    overflow: scroll;
    position: relative;
    width: 100%;
    height: 100%;
}

#environment {
    position: absolute;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------------ Footer ------------ */

footer {
    width: 100%;
}