/* ------------ Menu Bar Plugin ------------ */
.cet-titlebar {
    height: 30px !important;
}

.cet-title {
    color: white !important;
}

.cet-container {
    top: 30px !important;
}

/* ------------ Menu Item ------------- */
.menu-item {
    width: fit-content;
    padding: 5px 5px 5px 5px;
    margin: 2px;
    border: 1px solid transparent;
    color: var(--color-menu-item-text);
    font-family: "DejaVu Sans", sans-serif;
    font-size: 11px;
    display: inline-block;
}

.menu-item:hover.menu-item:not([disabled]), .menu-item[active] {
    background-color: var(--color-menu-item-hover);
}

.menu-item:hover, .menu-item[active] {
    border: 1px solid var(--color-menu-item-border);
    position: relative;
    cursor: pointer;
}

.menu-item:hover:before, .menu-item[active]:before {
    border: 1px solid var(--color-menu-background);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.menu-item[disabled] {
    color: #66666A;
    cursor: unset;
}

/* ------------ Drop Menu ------------ */
.drop-menu {
    position: absolute;
    width: fit-content;
    background-color: var(--color-menu-background);
    border: 1px solid var(--color-title-bar-border);
    z-index: 1;
    animation: fadeIn 0.15s ease-in-out;
}

.drop-menu .drop-entry {
    height: 16px;
    display: block;
    margin: 1px;
    padding: 3px 4px 3px 4px;
}

.drop-menu:before {
    background: var(--color-title-bar-border);
    content: "";
    position: absolute;
    top: 0;
    left: 26px;
    width: 1px;
    bottom: 0;
    pointer-events: none;
    opacity: 0.2;
}

.drop-entry {
    width: auto;
    height: 16px;
    display: block;
    margin: 1px;
    padding: 3px 4px 3px 4px;
}

.drop-entry .icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.drop-entry .text {
    width: auto;
    display: inline-block;
    position: relative;
    top: -4px;
    padding-left: 12px;
}

.drop-entry .shortcut {
    display: inline-block;
    position: relative;
    float: right;
    top: 2px;
    margin-left: 28px;
}

.drop-separator {
    width: auto;
    height: 1px;
    background-color: var(--color-title-bar-border);
    margin: 2px 2px 2px 27px;
    opacity: 0.2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
