:root {
    /* Background */
    --color-background: #282726;

    /* Title Bar */
    --color-title-bar: #0D0D0D;
    --color-title-bar-border: #66666A;

    /* Menu */
    --color-menu-background: #202020;
    --color-menu-item-text: #ffffff;
    --color-menu-item-hover: #18324B;
    --color-menu-item-border: #074F97;

    font-family: 'Microsoft Sans Serif', sans-serif;
    font-size: 8.25pt;
}

/* include ./assets/microsoft_sans_serif.ttf */
@font-face {
    font-family: "Microsoft Sans Serif";
    src: url("../assets/font/microsoft_sans_serif.ttf") format('truetype');
}

html {
    background-color: var(--color-background);
    user-select: none;
}

body {
    margin: 0;
}

h1 {
    color: white;
}