:root {
    /* Background */
    --color-background: #2F2F2F;

    /* Title Bar */
    --color-title-bar: #0D0D0D;
    --color-title-bar-border: #66666A;

    /* Menu */
    --color-menu-background: #202020;
    --color-menu-item-text: #ffffff;
    --color-menu-item-hover: #18324B;
    --color-menu-item-border: #074F97;
    --color-menu-item-selected: rgba(0, 120, 215, 0.4);
    --color-menu-item-selected-border: #0078D7;

    /* Scrollbar */
    --color-scrollbar-background: #171717;
    --color-scrollbar-thumb: #4D4D4D;

    /* Window */
    --color-close-button: #C75050;
    --color-close-button-hover: #E04343;
    --color-close-button-text: #FFFFFF;
    --color-window-background: #282828;
    --color-window-border: rgba(195, 195, 195, 0.21);

    /* Components */
    --color-slider-tick: #dadada;
    --color-slider: #D0D0D0;
    --color-slider-outline: #707070;
    --color-slider-hover1: #DDEFFA;
    --color-slider-hover2: #B7E2F9;
    --color-slider-hover-outline: #3C7FB1;
    --color-button: #FDFDFD;
    --color-button-text: #000000;
    --color-button-outline: #D0D0D0;
    --color-checkbox-checked: #005FB8;

    /* Misc */
    --color-item-redo-background: #5D5D5D;
    --color-item-redo-text: #000000;
    --color-item-redo-hover-background: #466079;
    --color-item-redo-hover-text: #FFFFFF;

    --image-transparency: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIBAMAAAA2IaO4AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAGUExURb+/v////5nD/3QAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAASSURBVBjTY2BgEBREJzBEGBgAFWgBEZPDxfIAAAAASUVORK5CYII=');

    --font-family: 'Microsoft Sans Serif', sans-serif;
    --font-size: 8.25pt;

    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);

    color-scheme: dark;
    scroll-behavior: unset;
}

/* include ./assets/microsoft_sans_serif.ttf */
@font-face {
    font-family: "Microsoft Sans Serif";
    src: url("../assets/font/microsoft_sans_serif.ttf") format('truetype');
}