/* ----------------- Window ----------------- */

.window {
    position: absolute;
    background-color: var(--color-window-background);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--color-window-border);
    z-index: 1000;
    pointer-events: all;
    display: flex;
    flex-direction: column;
}

.window .title-bar {
    display: flex;
    height: 20px;
    margin-top: 1px;
    padding: 5px 1px 5px 5px;
    background-color: var(--color-title-bar);
    cursor: move;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.window .title-bar .title {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 20px);
}

.window .title-bar .close-button {
    width: 19px;
    height: 19px;
    margin: 0;
    padding: 0 0 1px;
    background-color: var(--color-close-button);
    border: none;
    box-shadow: none;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    font-weight: bold;
    border-radius: 0;
    color: var(--color-close-button-text);
}

.window .content {
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}

/* ----------------- Forms ----------------- */

/* ----------------- Tools ----------------- */
#toolForm {
    display: flex;
    flex-wrap: wrap;
}

#toolForm .menu-item {
    flex-grow: 1;
    padding: 3.5px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#toolForm .menu-item .icon {
    height: 16px;
}

#toolForm .menu-item .large-icon {
    height: 18px;
}

/* ----------------- Colors ----------------- */
#colorsForm {
    position: relative;
    height: 100%;
}

#colorsForm #currentColors {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 53px;
    height: 53px;
}

#colorsForm #mainColor {
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: 1;
    background-color: #fff;
}

#colorsForm #secondaryColor {
    right: 1px;
    bottom: 1px;
    z-index: 0;
}

#colorsForm #swapColorsButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
}

#colorsForm #blackAndWhiteButton {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
}

#colorsForm #moreLessButton {
    position: absolute;
    left: 128px;
    top: 8px;
    width: 70px;
    padding: 2px 0 2px 0;
}

#colorsForm .color-circle {
    position: absolute;
    left: 60px;
    top: 36px;
}

#colorsForm #colorSettingsStrip {
    position: absolute;
    left: 5px;
    top: 157px;
    width: auto;
    height: 26px;
}

#colorsForm #colorSettingsStrip #colorAdd {
    width: 18px;
    height: 18px;
    position: relative;
    padding: 1px;
}

#colorsForm #colorSettingsStrip #colorAdd .icon {
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 5;
}

#colorsForm #colorSettingsStrip #colorAdd .color {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 20%;
    border: 1px solid #5D5D5D;
    z-index: 0;
}

#colorsForm #colorSettingsStrip #swatch {
    padding: 0 2px 0 0;
    margin: 0;
}

#colorsForm .color-palette {
    position: absolute;
    left: 0;
    width: 192px;
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;
    background-image: var(--image-transparency);
}

#colorsForm #basicColorPalette {
    top: 185px;
}

#colorsForm #extendedColorPalette {
    top: 209px;
}

#colorsForm .color-palette .color {
    width: 12px;
    height: 12px;
}

#colorsForm #sliderPanel {
    position: absolute;
    left: 225px;
    top: 5px;
    width: 150px;
}

#colorsForm #sliderPanel .entry {
    display: flex;
    width: 100%;
    height: 23px;
    align-items: center;
    justify-content: space-between;
}

#colorsForm #sliderPanel .entry .text {
    width: fit-content;
    white-space: nowrap;
}

#colorsForm #sliderPanel .header {
    gap: 5px;
}

#colorsForm #sliderPanel .header .divider {
    width: 100%;
    height: 0;
}

#colorsForm #sliderPanel .channel .row {
    display: flex;
    gap: 10px;
    align-items: center;
}

#colorsForm #sliderPanel .field input {
    text-align: right;
}

/* ----------------- Layers ----------------- */

#layerForm {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#layerForm #layerList {
    flex: auto;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#layerForm #layerList .layer-list-content {

}

#layerForm #layerList .layer-item {
    height: 41px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    width: auto;
}

#layerForm #layerList .selected-layer {
    background-color: var(--color-menu-item-selected);
    border: 1px solid var(--color-menu-item-selected-border);
    position: relative;
}

#layerForm #layerList .layer-item .thumbnail {
    margin-right: 5px;
    margin-left: 2px;
    box-shadow: 0 0 2px var(--color-title-bar-border);
}

#layerForm #layerList .layer-item input[type="checkbox"] {
    margin-left: auto;
}

#layerForm #layerStripPanel {
    display: flex;
    padding: 2px;
    background-color: var(--color-menu-background);
    border-top: 1px solid var(--color-title-bar-border);
}

#layerForm #layerStripPanel .icon-item {
    width: 16px;
    height: 16px;
}