/* ----------------- Window ----------------- */

.window {
    position: absolute;
    background-color: var(--color-window-background);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--color-window-border);
    z-index: 1000;
    pointer-events: all;
    display: flex;
    flex-direction: column;
}

.window .title-bar {
    display: flex;
    height: 20px;
    margin-top: 1px;
    padding: 5px 1px 5px 5px;
    background-color: var(--color-title-bar);
    cursor: move;
    align-items: center;
    justify-content: space-between;
}

.window .title-bar .title {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 20px);
}

.window .title-bar .close-button {
    width: 19px;
    height: 19px;
    margin: 0;
    padding: 0 0 1px;
    background-color: var(--color-close-button);
    border: none;
    box-shadow: none;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    font-weight: bold;
    border-radius: 0;
    color: var(--color-close-button-text);
}

.window .content {
    flex: auto;
}

/* ----------------- Forms ----------------- */

/* ----------------- Tools ----------------- */
#toolForm {
    display: flex;
    flex-wrap: wrap;
}

#toolForm .menu-item {
    flex-grow: 1;
    padding: 3.5px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#toolForm .menu-item .icon {
    height: 16px;
}

#toolForm .menu-item .large-icon {
    height: 18px;
}

/* ----------------- Colors ----------------- */
#colorsForm {
    position: relative;
    height: 100%;
}

#colorsForm #currentColors {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 53px;
    height: 53px;
}

#colorsForm .currentColor {
    --selected-color: #FFF;
    --indicator-active: 0;
    position: absolute;
    width: 31px;
    height: 31px;
    border: 1px solid white;
    outline: 1px solid black;
}

#colorsForm .selectedColorIndicator::before {
    content: "";
    position: absolute;
    width: 29px;
    height: 29px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%, 50% calc(100% - var(--indicator-active) * 22%), 35% 100%, 0 100%);
    background-color: var(--selected-color);
    transition: clip-path 0.2s, opacity 0.2s;
}

#colorsForm .selectedColorIndicator {
    width: 29px;
    height: 29px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%, 50% calc(100% - var(--indicator-active) * 20%), 35% 100%, 0 100%);
    background-color: #000000;
    padding: 1px;
    transition: clip-path 0.2s, opacity 0.2s;
}

#colorsForm .selectedColorIndicator:hover {
    background-color: #000000;
    opacity: 1 !important;
}

#colorsForm #mainColor {
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: 1;
    background-color: #fff;
}

#colorsForm #secondaryColor {
    right: 1px;
    bottom: 1px;
    z-index: 0;
}

#colorsForm #swapColorsButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
}

#colorsForm #blackAndWhiteButton {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
}

#colorsForm #moreLessButton {
    position: absolute;
    left: 128px;
    top: 8px;
    width: 70px;
    padding: 2px 0 2px 0;
}

#colorsForm #colorCircle {
    position: absolute;
    left: 60px;
    top: 36px;
    width: 141px;
    height: 141px;
}

#colorsForm #colorCircle #colorCircleCanvas {
    width: 100%;
    height: 100%;
}

#colorsForm #colorCircle #colorCircleCursor {
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid white;
    outline: 1px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#colorsForm #colorSettingsStrip {
    position: absolute;
    left: 5px;
    top: 157px;
    width: auto;
    height: 26px;
}

#colorsForm #colorSettingsStrip #colorAdd {
    width: 18px;
    height: 18px;
    position: relative;
    padding: 1px;
}

#colorsForm #colorSettingsStrip #colorAdd .icon {
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 5;
}

#colorsForm #colorSettingsStrip #colorAdd .color {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 20%;
    border: 1px solid #5D5D5D;
    z-index: 0;
}

#colorsForm #colorSettingsStrip #swatch {
    padding: 0 2px 0 0;
    margin: 0;
}

#colorsForm #colorPalette {
    position: absolute;
    left: 0;
    top: 185px;
    height: 24px;
    width: 192px;
    margin: 0 8px 7px 8px;
    display: flex;
    flex-wrap: wrap;
}

#colorsForm #colorPalette .color {
    width: 12px;
    height: 12px;
}