/dist/
/dist-electron/
/pages-dist/
index.php
electron-builder.env
node_modules/
bundle.js
*.bundle.js
workbox-*.js
service_worker.js
.idea/
*.iml
/run/*
!/run/test.png
.tmp
scripts/__pycache__/
assets/*
!assets/pdn/
assets/pdn/*
!assets/pdn/templates/
!assets/pdn/templates/**
