pkgbase = paintdotjs-bin
	pkgdesc = A desktop port of Paint.NET for Linux and macOS
	pkgver = @VERSION@
	pkgrel = 1
	url = https://paintjs.net/
	arch = x86_64
	license = MIT
	makedepends = nodejs
	depends = fuse2
	depends = gtk3
	depends = nss
	provides = paintdotjs
	conflicts = paintdotjs
	options = !strip
	noextract = paintdotnet.zip
	noextract = paintdotjs-@VERSION@.AppImage
	source = paintdotjs-@VERSION@-source.tar.gz::https://github.com/LabyStudio/paintdotjs/archive/refs/tags/v@VERSION@.tar.gz
	source = paintdotnet.zip::https://github.com/paintdotnet/release/releases/download/v@PAINTDOTNET_VERSION@/paint.net.@PAINTDOTNET_VERSION@.portable.x64.zip
	sha256sums = @SOURCE_SHA256@
	sha256sums = @PAINTDOTNET_SHA256@
	source_x86_64 = paintdotjs-@VERSION@.AppImage::https://github.com/LabyStudio/paintdotjs/releases/download/v@VERSION@/paintdotjs-@VERSION@-linux-x86_64.AppImage
	sha256sums_x86_64 = @APPIMAGE_SHA256@

pkgname = paintdotjs-bin
